<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1984</title>
    <link rel="shortcut ico" href="ico.ico">
    <link rel="stylesheet" href="styles/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="logo">
            <a href="index.html"><img src="images/637687.jpg" alt="logo"></a>
        </div>
        <nav>
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Productos</a></li>
                    <li><a href="contact.html">Contactos</a></li>
                </ul>
        </nav>
        <div class="responsive-button">
            <a href="#"><button id="hidden-button"><img src="images/menu.png" alt="responsive-menu"></button></a>
        </div>
   
    </header>

    <div class="main-img">
        <img src="images/descarga.jpg" alt="harry"> 
     </div>

     <div class="h2title">
        <h2>Formulario de Contacto</h2>
     </div>


     <div class="form-contact">

        <form id="contactform">
            <label>Nombre</label>
            <input type="text" name="name" required>
            <label>Email</label>
            <input type="email" name="email" required>
            <label id="captchatext">captcha</label>
            <input type=number name="captcha" required>
            <button type="submit">Enviar</button>
            <p id="answer">esperando...</p>
        </form>

     </div>
    
     <footer>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, voluptas aliquam explicabo in, debitis, consectetur quis perferendis et id recusandae esse harum dolore provident ipsam deserunt at ad. Rerum, temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, excepturi quam veritatis quaerat laudantium suscipit porro recusandae iste qui laborum, pariatur vitae vel, amet inventore corrupti magnam debitis dolorum facere. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tenetur maxime sint sequi fugiat minus, porro quo omnis veniam dignissimos voluptatibus repellat quam saepe nemo. Nisi fugiat iusto magni tenetur.
        </p>
    </footer>
    

    <script src="JS/contact.js"></script>
   <script src="JS/responsive.js"></script> 

</body>
</html>